---
import type { HTMLAttributes } from 'astro/types'

/**
 * @component DialogTrigger
 * @title Dialog Trigger
 * @description Control that opens a dialog. Must be used inside `Dialog`, unless `target` is provided.
 *
 * @preview
 *
 * <Dialog>
 *   <DialogTrigger class="rounded-md border px-3 py-2">Open dialog</DialogTrigger>
 *   <DialogContent>
 *     <DialogHeader>
 *       <DialogTitle>Title</DialogTitle>
 *       <DialogDescription>Description</DialogDescription>
 *     </DialogHeader>
 *   </DialogContent>
 * </Dialog>
 *
 * @usage
 *
 * ```astro nocollapse
 * ---
 * import {
 *   Dialog,
 *   DialogContent,
 *   DialogTrigger,
 * } from "@components/actions/Dialog";
 * ---
 *
 * <Dialog>
 *   <DialogTrigger class="rounded-md border px-3 py-2">
 *     Open dialog
 *   </DialogTrigger>
 *   <DialogContent>
 *     Dialog content
 *   </DialogContent>
 * </Dialog>
 * ```
 *
 * @examples
 *
 * ### Triggering a specific dialog by id
 *
 * ```astro nocollapse
 * ---
 * import { Dialog, DialogContent, DialogTrigger } from "@components/actions/Dialog";
 * ---
 *
 * <Dialog>
 *   <DialogTrigger target="my-dialog">Open</DialogTrigger>
 *   <DialogContent id="my-dialog">
 *     Dialog content
 *   </DialogContent>
 * </Dialog>
 * ```
 *
 * ### Custom trigger element (asChild)
 *
 * ```astro nocollapse
 * ---
 * import Button from "@components/actions/Button/Button.astro";
 * import { Dialog, DialogContent, DialogTrigger } from "@components/actions/Dialog";
 * ---
 *
 * <Dialog>
 *   <DialogTrigger asChild>
 *     <Button>Open</Button>
 *   </DialogTrigger>
 *   <DialogContent>
 *     Dialog content
 *   </DialogContent>
 * </Dialog>
 * ```
 *
 * Notes:
 * - By default this component renders a native `<button>`.
 * - Use `asChild` when you need to render a custom interactive element to avoid invalid nested buttons/links.
 */

interface Props extends Omit<HTMLAttributes<'button'>, 'type'> {
  /**
   * When true, the component will render its child element with a simple wrapper instead of a button component
   */
  asChild?: boolean
  /**
   * Optional ID of the dialog to trigger. If not provided and the trigger is inside a Dialog component,
   * it will automatically target that dialog. Required when used outside a Dialog component.
   */
  target?: string
}

const {
  class: className,
  asChild = false,
  target,
  ...rest
} = Astro.props as Props

// Get the first child element if asChild is true
let hasChildren = false

if (Astro.slots.has('default')) {
  hasChildren = true
}
---

{
  asChild && hasChildren
    ? (
        <div
          class={className}
          data-dialog-trigger
          data-dialog-as-child
          data-dialog-target={target}
        >
          <slot />
        </div>
      )
    : (
        <button
          type="button"
          class={className}
          data-dialog-trigger
          data-dialog-target={target}
          aria-haspopup="dialog"
          aria-expanded="false"
          {...rest}
        >
          <slot />
        </button>
      )
}
