---
import { cn } from '@utils/styles.utils'
import type { HTMLAttributes } from 'astro/types'

/**
 * @component DialogTitle
 * @title Dialog Title
 * @description Title text for the dialog. Intended to be used inside `DialogHeader`.
 *
 * @preview
 *
 * <DialogHeader>
 *   <DialogTitle>Example Dialog</DialogTitle>
 * </DialogHeader>
 *
 * @usage
 *
 * ```astro nocollapse
 * ---
 * import { DialogTitle } from "@components/actions/Dialog";
 * ---
 *
 * <DialogTitle>Example Dialog</DialogTitle>
 * ```
 */

interface Props extends Omit<HTMLAttributes<'h2'>, 'id'> {
  /**
   * The content to be rendered inside the dialog title
   */

  children: any
}

const { class: className, ...rest } = Astro.props;
---

<h2
  class={cn('text-xl leading-none font-semibold tracking-tight', className)}
  {...rest}
>
  <slot />
</h2>
