---
import ThemeSwitcher from '@components/navigation/ThemeSwitcher/ThemeSwitcher.astro'
import Icon from '@components/data/display/Icon.astro'
import Button from '@components/actions/Button.astro'
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import LanguagePicker from '@components/navigation/LanguagePicker/LanguagePicker.astro'
import Link from '@components/actions/Link/Link.astro'
import type { TNavLink } from '@utils/types'
import { Sheet, SheetContent, SheetFooter, SheetTrigger } from './Sheet'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

interface Props {
  navLinks: Array<TNavLink>
}

const { navLinks } = Astro.props as Props;
---

<header class="fixed inset-x-0 top-0 z-50 bg-secondary shadow-lg">
  <div
    class="
      mx-auto flex h-20 max-w-7xl items-center justify-between px-4
      sm:px-6
      lg:px-8
    "
  >
    <!-- Mosque branding -->
    <section class="flex items-center gap-3">
      <div class="rounded-full bg-white px-3 py-1.5">
        <Icon name="mosque" class="text-3xl text-secondary" />
      </div>
      <div>
        <span
          class="
            block text-xl/tight font-bold tracking-tight
            dark:text-white
          "
        >
          Mezquita Central
        </span>
        <span
          class="
            text-xs tracking-widest uppercase opacity-80
            dark:text-white
          "
        >
          de Bogotá
        </span>
      </div>
    </section>
    <!-- Main links -->
    <nav
      class="
        hidden items-center gap-5 text-[13px] font-semibold text-white/90
        lg:flex
        xl:gap-8 xl:text-sm
      "
    >
      {
        navLinks.map(({ label, href }) => (
          <Link href={href} color="navbar">
            {label}
          </Link>
        ))
      }
    </nav>
    <!-- Quick links -->
    <section class="
      hidden items-center gap-2
      lg:flex
      xl:gap-4
    "
    >
      <LanguagePicker />
      <ThemeSwitcher />
      <Button
        as="a"
        class="
          transform rounded-full shadow-md transition-all
          hover:scale-105
        "
        href="/donate"
      >
        {t('header.donate-now')}
      </Button>
    </section>
    <!-- Mobile menu -->
    <Sheet class="lg:hidden">
      <SheetTrigger>
        <Icon name="menu" />
      </SheetTrigger>
      <SheetContent
        class="
          **:data-dialog-close:top-7 **:data-dialog-close:right-4
          **:data-dialog-close:sm:right-6
          **:data-dialog-close:lg:right-8
        "
      >
        <!-- Main links -->
        <nav
          class="
            mt-20 flex flex-col gap-5 p-4 text-[13px] font-semibold
            text-white/90
            xl:gap-8 xl:text-sm
          "
        >
          {
            navLinks.map(({ label, href }) => (
              <Link href={href} color="navbar" class="text-foreground">
                {label}
              </Link>
            ))
          }
        </nav>
        <!-- Quick links -->
        <SheetFooter class="
          flex-row flex-wrap items-center gap-2
          xl:gap-4
        "
        >
          <!-- TODO: picker and switcher invisible in light theme -->
          <LanguagePicker side="top" align="start" />
          <ThemeSwitcher />
          <Button
            as="a"
            class="
              transform rounded-full shadow-md transition-all
              hover:scale-105
            "
            href="/donate"
          >
            {t('header.donate-now')}
          </Button>
        </SheetFooter>
      </SheetContent>
    </Sheet>
  </div>
</header>
