---
import { cn } from '@utils/styles.utils'
import type { HTMLAttributes } from 'astro/types'

/**
 * @component Dropdown
 * @title Dropdown
 * @description Composable dropdown menu root that wires up trigger/content pairs and optional submenus.
 *
 * @preview
 *
 * <Dropdown>
 *   <DropdownTrigger class="rounded-md border px-3 py-2">Open menu</DropdownTrigger>
 *   <DropdownContent>
 *     <DropdownLabel>Account</DropdownLabel>
 *     <DropdownItem>Profile</DropdownItem>
 *     <DropdownItem as="a" href="/settings">Settings</DropdownItem>
 *     <DropdownItem disabled={true}>Disabled item</DropdownItem>
 *   </DropdownContent>
 * </Dropdown>
 *
 * @usage
 *
 * ```astro nocollapse
 * ---
 * import { Dropdown, DropdownContent, DropdownItem, DropdownTrigger } from "@components/actions/Dropdown";
 * ---
 *
 * <Dropdown>
 *   <DropdownTrigger>Open</DropdownTrigger>
 *   <DropdownContent>
 *     <DropdownItem>Profile</DropdownItem>
 *     <DropdownItem as="a" href="/settings">Settings</DropdownItem>
 *   </DropdownContent>
 * </Dropdown>
 * ```
 *
 * @examples
 *
 * ### Open on hover
 *
 * <Dropdown openOnHover={true} closeDelay={200}>
 *   <DropdownTrigger>Hover me</DropdownTrigger>
 *   <DropdownContent>
 *     <DropdownItem>Item one</DropdownItem>
 *     <DropdownItem>Item two</DropdownItem>
 *   </DropdownContent>
 * </Dropdown>
 *
 * ### Submenu
 *
 * <Dropdown>
 *   <DropdownTrigger>More</DropdownTrigger>
 *   <DropdownContent>
 *     <DropdownSub>
 *       <DropdownSubTrigger>Advanced</DropdownSubTrigger>
 *       <DropdownSubContent>
 *         <DropdownItem>Item A</DropdownItem>
 *         <DropdownItem>Item B</DropdownItem>
 *       </DropdownSubContent>
 *     </DropdownSub>
 *   </DropdownContent>
 * </Dropdown>
 */

interface Props extends HTMLAttributes<'div'> {
  /**
   * When true, the dropdown will open on hover in addition to click
   */
  openOnHover?: boolean
  /**
   * Time in milliseconds to wait before closing when hover open is enabled
   * @default 200
   */
  closeDelay?: number
}

const {
  class: className,
  openOnHover = false,
  closeDelay = 200,
  ...rest
} = Astro.props as Props;
---

<div
  class={cn('relative', className)}
  data-open-on-hover={openOnHover ? 'true' : undefined}
  data-close-delay={closeDelay}
  data-dropdown-root
  {...rest}
>
  <slot />
</div>

<script>
  import { initDropdowns } from "./dropdown.controller";

  const setup = () => initDropdowns();

  document.addEventListener("DOMContentLoaded", setup);
  document.addEventListener("astro:after-swap", setup);
</script>
