---
import type { HTMLAttributes } from 'astro/types'

import { cn } from '@utils/styles.utils'

/**
 * @component TableBody
 * @title Table Body
 * @description Styled `<tbody>` wrapper. Removes the bottom border from the last row to keep visual rhythm consistent.
 *
 * @usage
 * ```astro nocollapse
 * ---
 * import { Table, TableBody, TableRow, TableCell } from "@components/layout/Table";
 * const items = [
 *   ["ORD1001", "Shipped", "Alice Smith", "$120.00"],
 *   ["ORD1002", "Processing", "Bob Johnson", "$80.00"],
 * ];
 * ---
 * <Table>
 *   <TableBody>
 *     {items.map(cols => (
 *       <TableRow>
 *         {cols.map(text => (<TableCell>{text}</TableCell>))}
 *       </TableRow>
 *     ))}
 *   </TableBody>
 * </Table>
 * ```
 */
type Props = HTMLAttributes<'tbody'>

const { class: className, ...rest } = Astro.props as Props;
---

<tbody class={cn('[&_tr:last-child]:border-0', className)} {...rest}>
  <slot />
</tbody>
